@font-face {
  font-family: "SofiaProSemiBold";
  src: url("~@/assets/fonts/mostardesign-sofiaprosemibold-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/mostardesign-sofiaprosemibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProBold";
  src: url("~@/assets/fonts/mostardesign-sofiaprobold-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/mostardesign-sofiaprobold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProLight";
  src: url("~@/assets/fonts/mostardesign-sofiaprolight-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/mostardesign-sofiaprolight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProMedium";
  src: url("~@/assets/fonts/mostardesign-sofiapromedium-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/mostardesign-sofiapromedium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProRegular";
  src: url("~@/assets/fonts/mostardesign-sofiaproregular-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/mostardesign-sofiaproregular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

$color-marine-blue: #023071;
$color-white: #ffffff;
$color-silver: #e9eaeb;
$color-faded-red: #e63846;
$color-blue-grey: #9699be;
$color-dark-86: rgba(43, 44, 63, 0.86);
$color-aqua-green: #12c990;
$color-light-royal-blue: #3852ff;
$color-slate-blue: #586f8f;
$color-night-blue: #02063f;
