.title {
  line-height: 24px;
  font-size: 20px;
}

.title-2 {
  line-height: 19px;
  font-size: 16px;
}

button {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.center-text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.text-left {
  font-size: 14px;
  line-height: 18px;
}

.text-link {
  font-size: 12px;
  line-height: 14px;
}
