<template>
  <div class="list-wrapper">
    <p class="center-text empty-state-placeholder" v-if="emptyStateStatus">
      {{ $t(this.emptyStatePlaceholder) }}
    </p>
    <vue-scroll v-else>
      <ul>
        <single-player
          v-for="(player, keyPlayer) in players"
          :key="keyPlayer"
          :player="player"
          :type="type"
        >
        </single-player>
      </ul>
      <slot name="substitutes"></slot>
    </vue-scroll>
  </div>
</template>

<script>
import SinglePlayer from "./SinglePlayer";
import { mapGetters } from "vuex";

export default {
  name: "PlayerList",
  props: {
    players: {
      type: Array,
      default: () => [],
    },
    emptyStatePlaceholder: {
      type: String,
      default: "message.players_empty_state",
    },
    type: {
      type: String,
      required: true,
      validator: (type) => {
        return ["allPlayers", "lineup", "substitutes"].indexOf(type) !== -1;
      },
    },
  },
  components: {
    SinglePlayer,
  },
  computed: {
    ...mapGetters({
      completeStatus: "team/completeStatus",
    }),
    emptyStateStatus() {
      return this.type === "substitutes"
        ? !this.completeStatus
        : this.players.length === 0;
    },
  },
};
</script>
