<template>
  <li>
    <div class="player-short">
      <img :src="player.image_url" :alt="player.display_name" />
      <div class="player-detail">
        <span class="title-2">{{ player.display_name }}</span>
        <span class="text-left">
          {{ player.position ? player.position.name : "" }}
        </span>
      </div>
    </div>
    <template v-if="isPickActions">
      <a
        class="text-link text-link-red"
        href="javascript:void(0)"
        @click="togglePick(player.id)"
        v-if="isPick"
      >
        {{ $t("button.unpick") }}
      </a>
      <a
        class="text-link text-link-disable"
        @click="togglePick(player.id)"
        href="javascript:void(0)"
        v-else
      >
        {{ $t("button.pick") }}
      </a>
    </template>
    <template v-else>
      <span class="player-out" v-if="player.substituteOutMinute">
        {{ player.substituteOutMinute }}’
      </span>
      <span class="player-in" v-if="player.substituteInMinute">
        {{ player.substituteInMinute }}’
      </span>
    </template>
  </li>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "SinglePlayer",
  props: {
    player: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: true,
      validator: (type) => {
        return ["allPlayers", "lineup", "substitutes"].indexOf(type) !== -1;
      },
    },
  },
  computed: {
    ...mapGetters({
      lineupPlayers: "team/lineupPlayers",
      completeStatus: "team/completeStatus",
      outPlayers: "team/outPlayers",
    }),
    isPick() {
      return (
        this.lineupPlayers.findIndex((_p) => _p.id === this.player.id) > -1
      );
    },
    isPickActions() {
      return (
        ["allPlayers", "lineup"].indexOf(this.type) > -1 &&
        (this.type === "lineup" ? !this.completeStatus : true)
      );
    },
  },
  methods: {
    togglePick() {
      if (!this.player.pick && this.lineupPlayers.length === 11) {
        alert(this.$t("error.pick_max_error"));
        return;
      }
      this.$store.dispatch("team/togglePick", this.player.id);
    },
  },
};
</script>
