<template>
  <modal
    name="substitution-modal"
    classes="modal"
    height="auto"
    width="375"
    :clickToClose="false"
  >
    <h1 class="title-2 modal-title">
      {{ $t("title.add_substitution") }}
    </h1>
    <ValidationObserver v-slot="{ handleSubmit, invalid }">
      <form @submit.prevent="handleSubmit(add)">
        <div class="form-item">
          <label for="out_player">{{ $t("label.out_player") }}</label>
          <ValidationProvider rules="required" class="validation-provider">
            <v-select
              label="display_name"
              :options="selecteblaOutPlayers"
              id="out_player"
              :placeholder="$t('placeholder.enter_player_name')"
              v-model="data.outPlayer"
            ></v-select>
          </ValidationProvider>
        </div>
        <div class="form-item">
          <label for="in_player">{{ $t("label.in_player") }}</label>
          <ValidationProvider rules="required" class="validation-provider">
            <v-select
              label="display_name"
              :options="selecteblaInPlayers"
              id="in_player"
              :placeholder="$t('placeholder.enter_player_name')"
              v-model="data.inPlayer"
            ></v-select>
          </ValidationProvider>
        </div>
        <div class="form-item">
          <label for="substitution_minute">{{
            $t("label.substitution_minute")
          }}</label>
          <ValidationProvider
            rules="required|min_value:1|max_value:120"
            class="validation-provider"
          >
            <input
              type="tel"
              v-mask="'###'"
              class="form-input"
              :placeholder="$t('placeholder.enter_minute_of_substitution')"
              v-model="data.substitutionMinute"
            />
          </ValidationProvider>
        </div>
        <div class="actions">
          <a
            href="javascript:void(0)"
            class="text-link text-link-red"
            @click="hide()"
          >
            {{ $t("button.cancel") }}
          </a>
          <button class="btn text-link" :disabled="invalid" type="submit">
            {{ $t("button.add") }}
          </button>
        </div>
      </form>
    </ValidationObserver>
  </modal>
</template>

<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { mapGetters } from "vuex";

export default {
  name: "SubstitutionModal",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      data: {
        outPlayer: null,
        inPlayer: null,
        substitutionMinute: null,
      },
    };
  },
  computed: {
    ...mapGetters({
      lineupPlayers: "team/lineupPlayers",
      unPickedPlayers: "team/unPickedPlayers",
      outPlayers: "team/outPlayers",
      inPlayers: "team/inPlayers",
    }),
    selecteblaOutPlayers() {
      return [
        ...this.lineupPlayers.filter(
          (_p) => this.outPlayers.map((_op) => _op.id).indexOf(_p.id) === -1
        ),
        ...this.currentInPlayers,
      ];
    },
    currentInPlayers() {
      return this.inPlayers.filter((_p) => _p.substituteOutMinute === null);
    },
    selecteblaInPlayers() {
      return this.unPickedPlayers.filter(
        (_p) => this.inPlayers.map((_ip) => _ip.id).indexOf(_p.id) === -1
      );
    },
  },
  methods: {
    show() {
      this.$modal.show("substitution-modal");
    },
    hide() {
      this.$modal.hide("substitution-modal");
      this.$emit("input", false);
    },
    add() {
      this.$store.dispatch("team/addSubstitute", {
        outPlayer: this.data.outPlayer,
        inPlayer: this.data.inPlayer,
        substitutionMinute: this.data.substitutionMinute,
      });
      this.hide();
    },
  },
  mounted() {
    this.show();
  },
};
</script>
