<template>
  <div class="container">
    <div class="content">
      <div class="success-wrapper">
        <h1 class="success title">{{ $t("message.squad_saved") }}</h1>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <div class="team-card">
            <img
              src="@/assets/imgs/team.png"
              :alt="teamName"
              width="64"
              height="64"
            />
            <h1 class="title">{{ teamName }}</h1>
          </div>
        </div>
        <div class="card">
          <h2 class="card-title title">{{ $t("title.lineup") }}</h2>
          <player-list
            emptyStatePlaceholder="message.lineup_empty_state"
            :players="$store.getters['team/lineupPlayers']"
            type="lineup"
          />
        </div>
        <div class="card">
          <h2 class="card-title title">{{ $t("title.substitutes") }}</h2>
          <player-list
            emptyStatePlaceholder=""
            type="substitutes"
            :players="inPlayers"
          >
          </player-list>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

import PlayerList from "@/components/team/PlayerList";
export default {
  name: "Confirmation",
  components: {
    PlayerList,
  },
  computed: {
    ...mapState({
      teamName: (state) => state.team.name,
      allPlayers: (state) => state.team.allPlayers,
    }),
    ...mapGetters({
      completeStatus: "team/completeStatus",
      inPlayers: "team/inPlayers",
    }),
  },
};
</script>
