<template>
  <div class="container">
    <div class="content">
      <div class="team-wrapper">
        <div class="team-head">
          <img
            src="@/assets/imgs/team.png"
            :alt="teamName"
            width="32"
            height="32"
          />
          <h1 class="title">{{ teamName }}</h1>
        </div>
        <button
          :disabled="!completeStatus"
          class="btn text-link"
          @click="confirm()"
        >
          {{ $t("button.confirm") }}
        </button>
      </div>
      <div class="card-wrapper">
        <div class="card">
          <h2 class="card-title title">{{ $t("title.all_players") }}</h2>
          <player-list :players="allPlayers" type="allPlayers" />
        </div>
        <div class="card">
          <h2 class="card-title title">{{ $t("title.lineup") }}</h2>
          <player-list
            emptyStatePlaceholder="message.lineup_empty_state"
            :players="$store.getters['team/lineupPlayers']"
            type="lineup"
          />
        </div>
        <div class="card">
          <h2 class="card-title title">{{ $t("title.substitutes") }}</h2>
          <player-list
            emptyStatePlaceholder="message.subsitutes_empty_state"
            type="substitutes"
            :players="inPlayers"
          >
            <template v-slot:substitutes v-if="substitutionStatus">
              <a
                href="javascript:void(0)"
                class="text-left btn-new-substitution"
                @click="openSubstitutionModal()"
              >
                + {{ $t("button.add_substitution") }}
              </a>
            </template>
          </player-list>
        </div>
      </div>
    </div>
    <substitution-modal
      v-if="substitutionModalStatus"
      v-model="substitutionModalStatus"
    />
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

import PlayerList from "@/components/team/PlayerList";
import SubstitutionModal from "@/components/team/SubstitutionModal";

export default {
  name: "Team",
  components: {
    PlayerList,
    SubstitutionModal,
  },
  data() {
    return {
      substitutionModalStatus: false,
    };
  },
  computed: {
    ...mapState({
      teamName: (state) => state.team.name,
      allPlayers: (state) => state.team.allPlayers,
    }),
    ...mapGetters({
      completeStatus: "team/completeStatus",
      inPlayers: "team/inPlayers",
      outPlayers: "team/outPlayers",
    }),
    substitutionStatus() {
      return this.completeStatus && this.outPlayers.length < 3;
    },
  },
  methods: {
    openSubstitutionModal() {
      this.substitutionModalStatus = true;
    },
    confirm() {
      this.$router.push("/confirmation");
    },
    async fetchTeam() {
      try {
        await this.$store.dispatch("team/fetchTeam");
      } catch (err) {
        alert(this.$t("error.xhr_error"));
      }
    },
  },
  created() {
    if (!this.completeStatus) this.fetchTeam();
  },
};
</script>
