header {
  height: 60px;
  background-color: $color-night-blue;

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
