<template>
  <div id="app">
    <app-header />
    <router-view />
  </div>
</template>
<script>
import AppHeader from "./components/ui/AppHeader";

export default {
  name: "App",
  components: {
    AppHeader,
  },
};
</script>
