<template>
  <header>
    <div class="container">
      <router-link to="/">
        <img
          src="@/assets/imgs/logo.png"
          alt="Scoutium"
          width="132"
          height="18"
        />
      </router-link>
      <img
        src="@/assets/imgs/avatar.png"
        alt="Username"
        width="36"
        height="36"
      />
    </div>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
};
</script>
